<h2 mat-dialog-title>
    {{ data.type === 'edit' ? 'Редактирование категории' : 'Новая категория' }}
</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Название категории</mat-label>
        <input matInput [formControl]="controlValue"/>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="actions" style="display: flex;gap: 10px; justify-content: center">
        <button mat-stroked-button color="primary" (click)="fetchCategory()">Сохранить</button>
        <button mat-stroked-button color="warn" (click)="closeDialog()">Отмена</button>
    </div>
</mat-dialog-actions>
