<div class="login">
    <h1>
        Регистрация
    </h1>
    <form class="login__form">
        <mat-form-field>
            <mat-label>Введите email</mat-label>
            <input matInput type="email" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Введите пароль</mat-label>
            <input matInput type="password" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Повторите пароль</mat-label>
            <input matInput type="password" required>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="submit()">Зарегистрироваться</button>
        <div class="login__form-actions">
            <span style="color: white">Уже зарегистрированы?</span>
            <a routerLink="/auth/login">Войти</a>
        </div>
    </form>
</div>

