/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

h1, h2, h3, p, div {
    color: #FFFFFF;
}

html, body {
    margin: 0;
    height: 100%;

    ::ng-deep {
        height: 100%;
    }
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #1a1b1f }

.container {
    padding: 0 140px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}
