<h2 mat-dialog-title>
    {{ data.type === 'edit' ? 'Редактирование номера' : 'Новый номер' }}
</h2>
<mat-dialog-content>
    <div style="display: flex;flex-direction: column">
        <mat-form-field>
            <mat-label>Название номера</mat-label>
            <input matInput [formControl]="controlTitle"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Категория номера</mat-label>
            <mat-select [formControl]="controlCategoryId">
                @for (category of categories$ | async; track category) {
                    <mat-option [value]="category.id">{{category.value}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Описание номера</mat-label>
            <textarea matInput [formControl]="controlDescription"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Стоимость за сутки</mat-label>
            <input matInput [formControl]="controlPrice" type="number"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Фото номера</mat-label>
            <input matInput [formControl]="controlImages"/>
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <div class="actions" style="display: flex;gap: 10px; justify-content: center">
        <button mat-stroked-button color="primary" (click)="fetchRoom()">Сохранить</button>
        <button mat-stroked-button color="warn" (click)="closeDialog()">Отмена</button>
    </div>
</mat-dialog-actions>
