.container {
    margin-top: 50px;
}

.room {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        gap: 50px;
    }

    &__image {
        width: 50%;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__booking {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        //align-self: center;
    }
}

.form__group {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

