.catalog {
    margin-top: 30px;

    &__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px
    }
}

mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}
