.example-card {
    max-width: 300px;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }
}

mat-card-header {
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    img {
        width: 100%;
    }
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
